<div class="card-container">
  <div class="card" *ngFor="let card of filteredData" (click)="viewDetails(card.restaurantId)">
    <img [src]="card.cuisine.imagePath" alt="{{ card.name }}" class="card-image"/>
    <div class="card-content">
      <h4>{{ card.name }}</h4>
      <p>{{ card.cuisine.name }}</p>
      <p>{{ card.location }}</p>

      <!-- Favorite Button -->
      <button 
        class="favorite-button" 
        [ngClass]="{'favorited': card.isFavorited}" 
        (click)="toggleFavorite(card, $event)">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>
